extends layout

block content
  div(class="content")
    h1 Add a studio
    form(action='' method="POST")
      .form-group
        label(for='name') Name
        input.form-control(name="name" type='text' placeholder='Enter studio name' required)
      .form-group
        label(for='img_url') Image URL
        input.form-control(name='img_url' type='text' placeholder='Image URL')
      button.btn.btn-primary(type='submit') Submit
